@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

table {
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid rgb(200, 200, 200);
}

td, th{
    padding: 7px;
    background-color: rgb(240, 240, 240);
}

span {
    margin-right: 5px;
}

@media only screen and (min-width: 500px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
    }
}