/* Make sure navbar doesn't overlap page content */
body {
    height: 100vh;
}

/* Top bar */

#top-bar {
    position: absolute;
    top: 0px;
    left: 265px;
    width: calc(100% - 265px);
    height: 70px;
    background-color: #e6e6e6;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: rgb(0, 11, 24);
	background-color: #aaaaaa;
    width: 80px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#top-bar a {
    text-decoration: none !important;
}

.button:hover {
    filter: brightness(0.9);
    transform: scale(0.92);
    transition: 0.1s;
}

/* Side bar */

#side-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 265px;
    height: 100vh;
    padding-top: 20px;
    background-color: rgb(0, 11, 24);
    color: white;
}

#side-bar-header {
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#side-bar-header a {
    text-decoration: none;
    color: white;
}

#side-bar-header h4:hover {
    text-decoration: underline;
}

#side-bar-header img {
    height: 52px;
}

#side-bar-header h4 {
    margin-bottom: 0;
    width: 150px;
    font-size: 24px;
}

#navbar-collapse {
    display: none !important;
}

#side-navbar {
    width: 100%;
    padding-top: 15px;
    padding-left: 20px;
}

#side-navbar header {
    font-size: 20px;
}

#side-navbar li {
    list-style: none;
}

#side-navbar a {
    text-decoration: none;
    color: white;
}

#side-navbar a:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}

/* Page-specific CSS */

.active.html-tutorial {
    color: rgb(222, 102, 104) !important;
}

.button.html-tutorial {
    background-color: rgb(222, 102, 104);
}

.active.css-tutorial {
    color: rgb(255, 194, 113) !important;
}

.button.css-tutorial {
    background-color: rgb(255, 194, 113);
}

.active.js-tutorial {
    color: rgb(102, 169, 237) !important;
}

.button.js-tutorial {
    background-color: rgb(102, 169, 237);
}

/* Mobile layout */

@media only screen and (max-width: 600px) {
    #top-bar {
        display: none;
    }

    #side-bar {
        padding-top: 20px;
        padding-bottom: 10px;
        position: static;
        display: block;
        width: 100vw;
        height: initial;
        overflow: auto;
        border-right: none;
        text-align: center;
    }

    #side-bar-header {
        margin-bottom: 5px;
    }

    #navbar-collapse {
        display: block !important;
        font-size: 40px;
        text-align: center;
        color: white !important;
        text-decoration: none;
    }

    #side-navbar {
        text-align: center;
        margin-bottom: 20px;
    }

    #side-navbar * {
        padding-left: 0;
        margin-top: 3px;
    }
}