* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 11, 24);
    overflow-x: hidden;
}
html, body {
    min-height: 100%;
    max-width: 100%;
}

header {
    color: white;
    text-align: center;
}

img {
    width: 60%;
    min-height: 100%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: left;
}

h2 {
    text-align: left;
    opacity: 0.75;
    font-family: monospace;
}

p {
    font-size: 2rem;
    text-align: left;
    /* opacity: 0.75; */
    color: rgb(138, 143, 149);
    border-right: solid 3px rgb(138, 143, 149);
    border-left: solid 3px rgba(0, 0, 0, 0);
    display: inline !important; 
    width: auto;
    padding-right: 3px;

    /* Animation */
    animation: animated-cursor 1s infinite;
    animation-delay: 2300ms;
}

@keyframes animated-cursor {
    50% {
        border-right-color: transparent;
    }
}

.container > div > div > a {
    height: 100%;
}

.container > div > div > a > button{
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 0 4px #000;
    transition: 0.3s;

    opacity: 0;
}

button:hover {
    opacity: 0.8 !important;
    transform: scale(0.95);
}

a > button > h3, h5 {
    font-weight: bold;
}

a > button > h3 {
    font-size: 2rem;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
}

/*
Colours from:
https://miro.medium.com/max/875/1*R-jHL4YAaVYGYhR7L68Hrg.png
 */
#htmlButton{
    background-color: rgba(222,102,104,255) !important;
    animation: fade-in 2s forwards;
}

#cssButton {
    background-color: rgba(255,194,113,255) !important;
    animation: fade-in 2s forwards;
    animation-delay: 500ms;
}

#jsButton {
    background-color: rgba(102,169,237,255) !important;
    animation: fade-in 2s forwards;
    animation-delay: 1s;
} 

@keyframes fade-in {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Firefly animation */
.unit {
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 200, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 200, 255);
}

/* Media queries */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1, h2, p {
        text-align: center;
    }
    h1 {
        font-size: 2rem;
    }
    section > div {
        height: 10em;
    }
    section {
        margin-bottom: 450px;
    }
    .container > div > div > a > button{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px){
    img {
        width: 100%;
    }
}