#page-wrapper {
	position: absolute;
	width: calc(100vw - 250px);
	left: 250px;
	top: 70px;
}

#content {
	margin: auto;
	width: 80%;
}

* {
	/*border: 1px solid black;*/
}

@media only screen and (max-width: 480px) {
	#page-wrapper {
		position: static;
		left: 0;
		width: 100%;
		padding: 0 !important;
	}

	#content {
		width: 100%;
	}
}

